:root {
    --container-width: 900px;
    --container-height: 300px;
    
    --button-width: 220px;
    --button-height: 80px;
    --button-margin: 40px;
    
    --logo-width: 140px;
    --logo-height: 140px;
}


body, div, a {
    box-sizing: border-box;
}

.container {
    position: relative;
    margin-top: 125px;
    margin-left: 150px;
    width: var(--container-width);
    height: var(--container-height);
}
.button-container {
    position: absolute;
    width: calc(var(--button-width) + (2 * var(--button-margin)));
    height: calc(var(--button-height) + (2 * var(--button-margin)));
}
.button-container .button {
    position: absolute;
    left: var(--button-margin);
    top: var(--button-margin);
    text-align: center;
    padding: 15px 10px 0;
    font-family: helvetica,"sans serif";
    font-weight: bold;
    color: #444;
    text-shadow: 2px 2px #0bfab9;
    font-size: 20px;
    width: var(--button-width);
    height: var(--button-height);
    background-color: #2be5b3;
    border-radius: 7px;
    border-color: #888;
    border-style: inset;
    cursor: pointer;
}
.logo {
    position: absolute;
    left: calc((var(--container-width) / 2) - (var(--logo-width) / 2));
    top: 12px;
    background-image: url('../images/logo.png');
    width: var(--logo-width);
    height: var(--logo-height);
}
.monkeys-button-container {
    right: 0;
}
.purpose-button-container {
    z-index: 10;
}
.monkeys-text {
    position: absolute;
    left: 235px;
    top: -85px;
    width: 500px;
    font-size: 80px;
    font-weight: bold;
    font-family: helvetica,"sans serif";
    color: #fa430b;
    display: none;

    animation: 'toggle-color' 1.5s infinite linear;
    -webkit-animation: 'toggle-color' 1.5s infinite linear;
    -moz-animation: 'toggle-color' 1.5s infinite linear;
}


@keyframes 'toggle-color' {
  0%     { color: #fa430b; }
  49.99% { color: #fa430b; }
  50%    { color: #380bfa; }
  100%   { color: #380bfa; }
}

@-webkit-keyframes 'toggle-color' {
  0%     { color: #fa430b; }
  49.99% { color: #fa430b; }
  50%    { color: #380bfa; }
  100%   { color: #380bfa; }
}

@-moz-keyframes 'toggle-color' {
  0%     { color: #fa430b; }
  49.99% { color: #fa430b; }
  50%    { color: #380bfa; }
  100%   { color: #380bfa; }
}


