$container-width: 900px;
$container-height: 300px;

$button-width: 220px;
$button-height: 80px;
$button-margin: 40px;

$logo-width: 140px;
$logo-height: 140px;

body, div, a {
    box-sizing: border-box;
}

.container {
    position: relative;
    margin-top: 125px;
    margin-left: 150px;
    width: $container-width;
    height: $container-height;
}
.button-container {
    position: absolute;
    width: $button-width + (2 * $button-margin);
    height: $button-height + (2 * $button-margin);

    .button {
        position: absolute;
        left: $button-margin;
        top: $button-margin;
        text-align: center;
        padding: 15px 10px 0;
        font-family: helvetica,"sans serif";
        font-weight: bold;
        color: #444;
        text-shadow: 2px 2px #0bfab9;
        font-size: 20px;
        width: $button-width;
        height: $button-height;
        background-color: #2be5b3;
        border-radius: 7px;
        border-color: #888;
        border-style: inset;
        cursor: pointer;
    }
}
.logo {
    position: absolute;
    left: ($container-width / 2) - ($logo-width / 2);
    top: 12px;
    background-image: url('../images/logo.png');
    width: $logo-width;
    height: $logo-height;
}
.monkeys-button-container {
    right: 0;
}
.purpose-button-container {
    z-index: 10;
}
.monkeys-text {
    position: absolute;
    left: 235px;
    top: -85px;
    width: 500px;
    font-size: 80px;
    font-weight: bold;
    font-family: helvetica,"sans serif";
    color: #fa430b;
    display: none;

    animation: 'toggle-color' 1.5s infinite linear;
    -webkit-animation: 'toggle-color' 1.5s infinite linear;
    -moz-animation: 'toggle-color' 1.5s infinite linear;
}


@keyframes 'toggle-color' {
  0%     { color: #fa430b; }
  49.99% { color: #fa430b; }
  50%    { color: #380bfa; }
  100%   { color: #380bfa; }
}

@-webkit-keyframes 'toggle-color' {
  0%     { color: #fa430b; }
  49.99% { color: #fa430b; }
  50%    { color: #380bfa; }
  100%   { color: #380bfa; }
}

@-moz-keyframes 'toggle-color' {
  0%     { color: #fa430b; }
  49.99% { color: #fa430b; }
  50%    { color: #380bfa; }
  100%   { color: #380bfa; }
}


